<template>
  <div class="container">
    <div class="p-2">
            <nav aria-label="Navegación por paginación">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous" @click="previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="pager">Previous</span>
            </a>
          </li>

          <li class="page-item" v-for="page in pages" :key="page" @click="paginate(page)"> <a class="page-link" href="#"> {{page}} </a></li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next" @click="next">
              <span class="sr-only">Next</span>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script> 
export default {
  //Estos son las propiedades del paginador
  props: ["meta","links"],
  methods:{
    paginate(page){
      this.$emit('page', page)},
    next() {
      const page = this.meta.current_page + 1
      this.$emit('page', page)
    },
    previous() {
      const page = this.meta.current_page - 1
      this.$emit('page', page)
    }

  }, 
  //Estos son las propiedades del componente Paginator
  data(){
    return {
      limit: 12,
    }  
  },
  computed:{

    startPage() {
      if (this.meta.current_page === 1) {
        return 1;
      }

      if (this.meta.current_page === this.meta.total) {
        return this.meta.total - this.limit;
      }

      return this.meta.current_page - 1;
    },
    pages() {
      const range = [];

      for (
        let i = this.startPage;
        i <= Math.min(this.startPage + this.limit - 1, this.meta.total);
        i++
      ) {
        range.push(i);
      }

      return range;
    },
  }

};


</script>

<style lang="css"> </style>