<template>
 
  <div class="table-responsive">
  <div class="mt-2 mb-2 text-center"> Cargofive - Información de Puertos </div>
    <div class="scroll-table">
      <table class="table table-striped">
        <thead class="">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col">Coordinates</th>
            <th scope="col">Continent</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.country}}</td>
            <td>{{item.coordinates}}</td>
            <td>{{item.continent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
</template>

<script>
export default {
  props: ["items"],
};
</script>

<style lang="css">
.scroll-table{
  max-height: 500px;
  overflow-y: auto;
}
</style>
