<template>
  <div class="container">
    <div class="p-2">
      <div class="input-group rounded">
      <!-- Aplicando buscador de forma directa a los resultados de la tabla -->
        <input v-model="search" @keypress.enter="filterData" type="search" class="form-control rounded" placeholder="Search for name, country and coordinates" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>

      <!-- Pasando la información de paginado al componente Table -->
      <Table v-if="response" :items="response.data"/>
       <!-- Pasando la información de paginado al componente Paginator -->
      <Paginator v-if="response" :meta="response.meta"
                 :links="response.links"
                 @page="load_data_api"/>
    </div>
    
  </div>
</template>

<script>
import axios from "axios";
import Table from "./components/Table";
import Paginator from "./components/Paginator";

export default {
  name: "App",
  components: {
    Table, Paginator
  },
  data() {
    return {
      response: null,

      // Filtros de búsqueda para el search

      filters: {
        page: 1,
        name: "",
        country: "",
        coordinates: "",
      },
      search: "",
      options: "",
 
    };
  },

  mounted() {
    this.load_data_api(1);
  },
  watch:{
    search(val){
      if(val == ""){
        this.load_data_api(1);
      }
    }
  },

  methods: {
    async load_data_api(page = 1) {
      try {
         // Consumiendo el API
        this.filters.page = page;
        const rs = await axios.get(
          `http://apitest.cargofive.com/api/ports${this.parseParams(this.filters)}`
        );
        //console.log(rs);
        this.response = rs.data;
      } catch (error) {
        //console.log(error);
      }
    },
     // Transformar lo que esta en la búsqueda de los filtros para pasar al API 
    parseParams(obj) {
      let url_params = "?";
      Object.keys(obj).map((k) => {
        url_params += `${k.toLowerCase()}=${obj[k]}`;
        if (Object.keys(obj).length > 1) {
          url_params += `&`;
        }
      });

      return url_params;
    },
     // Función para el filtro de buscador
    filterData(){
       this.response.data = this.response.data.filter((item) => {
         return item.name.includes(this.search) || item.country.includes(this.search) || item.continent.includes(this.search)
        })
      
    }
  },
};
</script>

<style></style>
